{{ range $index, $elements := .Params.testimonials }}
<div class="mb-6">
  <div class="{{ if eq ( mod $index 2 ) 0 }}fading-left{{ else }}fading-right{{ end }} bg-secondary-bg rounded border hover:shadow-lg transition ease-in-out duration-200 px-6 pt-6 pb-4">
    <div class="mb-4 content">
      <div class="flex flex-col md:flex-row md:justify-between">
        <div class="pr-6">
        <!-- <blockquote> -->
          <div class="text-md text-justify">
            <p>{{ .writeup | markdownify }}</p>
          </div>
          <div class="pt-6 text-right">
            <!-- <cite> -->
              <span class="font-bold text-sm">{{ .name }} </span>
              <div class="text-sm">
                {{ if .organization.url }}
                <a href="{{ .organization.url }}">{{ .organization.name | markdownify }}</a> - {{ .title | markdownify }}
                {{ else }}
                <span>{{ .organization.name | markdownify }} - {{ .title | markdownify }}</span>
                {{ end }}
              </div>
            <!-- </cite> -->
          </div>
        <!-- </blockquote> -->
        </div>
        <div class="flex-none w-24 min-w-24 pt-6 mx-auto">
          <picture>
            {{if .avatar_webp}}
            <source srcset="{{ .avatar_webp }}" type="image/webp">
            {{end}}
            <source srcset="{{ .avatar }}" type="image/jpeg">
            <img src="{{ .avatar }}" class="rounded-full object-scale-down" alt="{{ .name }}">
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
